.main-header {
    width: 100%;
    background-color: rgba(1, 0, 1, 0.8);
    opacity: 0.9.6;
    overflow: hidden;
    transition: 0.4s;
    .bg-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        mix-blend-mode: overlay;
    }
}

.header {
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: transparent;
    .logo {
        width: 80%;
        height: auto;
        padding: 1rem 0;
    }
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: black;
}
.shadow-none {
    box-shadow: none;
}
