.header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 125px;

    & :is(ul) {
        display: flex;
    }
    .header--logo {
        height: 125px;
        display: inline-flex;
        margin: 0 auto;
        align-items: center;

        a,
        Link {
            font-size: 24px;
            line-height: 1;
            margin: 0;
            padding: 0;
        }

        img {
            max-height: 60px;
            height: auto;
        }
    }

    .nav--menu {
        display: flex;
        justify-content: end;
        gap: 2.5rem;
        align-items: center;
        width: 100%;
        padding: 0 1.5rem;

        .nav--element {
            a {
                color: white;
                font-weight: 600;
                text-decoration: none;
            }
        }

        .dropdown {
            position: relative;
            .link {
                background-color: transparent;
                color: white;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                i {
                    margin: 0 4px;
                }
            }
            .dropdown-menu {
                position: absolute;
                left: -25px;
                top: calc(100% + 2rem);
                background-color: white;
                border-radius: 0.25rem;
                line-height: 3;
                width: 240px;
                text-align: left;
                opacity: 1;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                display: flex;
                flex-direction: column;
                transform: translateY(-10px);
                transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
                & :is(a) {
                    color: black;
                    font-weight: 500;
                    width: 100%;
                    padding-left: 16px;
                    &:hover {
                        color: $base-color;
                        background-color: #faced6;
                        transition: 0.5s all;
                    }
                }
            }
        }
    }

    .menu--bar {
       position: fixed;
       top: 10px;
       z-index: 101;
       right: 10px;
       display: none;
       animation-duration: 500;
       display: none;
       i{
        color: $base-color;
        cursor: pointer;
        font-size: 30px;
       }
    }

    .active{
        transition: .5s all;
        display: none !important;
    }
}

@media only screen and (max-width: 1198px) {
    .header {
        transition: 0.5s all;
        padding: 0% 1.5rem;
    }
}
@media only screen and (max-width: 688px) {
    .header {
        .header--logo{
            display: none;
        }
        .nav--menu {
            position: fixed;
            width: 300px;
            top: 0%;
            right: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            overflow: scroll;
            transition: all 0.4s;
            z-index: 100;
            a {
                color: black !important;
            }

            .dropdown {
                .link,
                i {
                    color: black !important;
                }
            }
        }
        .menu--bar{
            display: block;
        }
    }
}

