* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    transition: .5s all;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
a {
    text-decoration: none;
}



//--------------------------

/*importing...*/
@import "./variables.scss";
@import "./utilities/utilities";

@import "./header";
@import "./navbar";
@import "./footer";

@import "./pages/home/main";
@import "./pages/home/headerCart";
@import "./pages/home/secondSection";
@import "./pages/home/homeServices";
@import "./pages/home/resentWork";
@import "./pages/home/companyGrowth";
@import "./pages/home/littleTeamImages";
@import "./pages/home/client";

@import "./pages/about/findWork";

/*importing...*/
