.company--growth {
    height: auto;
    width: 100%;
    background-color: rgb(249, 249, 249);
    padding: 3rem 0;
    .colorful-title {
        @include colourful-text(16px);
    }
    .main-title {
        margin-bottom: 40px;
        color: #1f1f25;
        font-size: 50px;
        line-height: 60px;
        font-weight: 600;
        text-align: center;
    }
    .desc {
        color: #777575;
        text-align: center;
    }

    .column {
        float: left;
        width: 20%;
        height: auto;
        padding: 3rem 0;
        margin-top: 2.5rem;
        background-color: white;
        border-radius: 10px;

        .column-title{
            color: #1f1f25;
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
        }

        .text{
            font-size: 18px;
    line-height: 28px;
    color: rgba(29,29,36,.75);
    font-weight: 400;
    text-align: center;
        }
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
   .company--growth{
    .column {
        width: 100% !important;
    }
   }
}
