.little-team-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10rem 0;

    .col-lg-6 {
        width: 50%;
    }

    .text {
        font-size: 30px;
        line-height: 48px;
        color: #18181b;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: -16px;
        position: relative;
        z-index: 2;
        margin-bottom: 1rem;
        img {
            position: absolute;
            width: 177px;
            height: 100%;
            left: -58px;
            top: -57px;
            opacity: 1;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }

    .footer-text {
        font-size: 18px;
        line-height: 50px;
        color: #8c8c8c;
        font-weight: 300;
        margin-bottom: 0;
        span {
            color: $base-color;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
